<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499044294600-ivem2clc7cicv950sqrqdd9l1jvmrgtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499044294600-ivem2clc7cicv950sqrqdd9l1jvmrgtr</string>
	<key>API_KEY</key>
	<string>AIzaSyCc1CTHwPDbLQN25uLJPz4BaVO_0GjWBB0</string>
	<key>GCM_SENDER_ID</key>
	<string>499044294600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-antelo97</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-antelo97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499044294600:ios:7b5ffb4be9618a9968aafd</string>
</dict>
</plist>